body {
  font-family: sans-serif;
  background-color: #f4f2f0;
}

.myNavbar {
  background-color: #264f75;
}

.mytextnav {
  color: white;
}

.myContainer {
  padding: 15px;
}


.footerDiv {
  padding-top: 15px;
  padding-left: 42%;
}

.footerlink a:hover {
  color: gray;
  text-decoration: none;
}

#add-div {
  position: fixed;
  bottom: 100px;
  right: 25px;
}

.add-button {
  background-color: #315b96;
  color: white;
  padding: 10px 10px;
  border-radius: 30px;
  border-color: #264f75;
}

.margin-top {
  margin-top: 4%;

}

.link-text {
  color: white;
  text-decoration: none;
}

.link-text a:hover {
  color: gray;
  text-decoration: none;
}